@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/morris-roman');
:root{
    --bronze:rgba(184, 115, 51, 1);
    --silver:rgba(192, 192, 192, 1);
    --gold:rgba(255, 215, 0, 1);
    --platinum:rgba(21, 213, 239, 1);
}
body,html{  width:100%;  height:100%;  }
body,section,h1,h2,h3,button,span,div{  margin: 0; padding: 0; }
img{  display:block; border: 0px none; }
body{  
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, #7a0000 50%, rgba(0,0,0,1) 100%);
    display: flex; justify-content:center; align-items:center;
    font-family:Arial, sans-serif;
    font-size: 16px; color:#222;
}
section{
    background:#151515; border:1px solid #151515; width:1200px; height:800px;
    flex-flow:column nowrap; justify-content:center; align-items:center;
    gap:20px; display: flex; position: relative;
}
section>h2{
    letter-spacing: 2px; text-align: center;
    font-size: 60px; color: #fc0;
}
.progress>.percent{
    font-size: 26px; color: #fff; display: block;
    text-align: center; margin-bottom: 20px;
}
.progress>.congrat{
    font-size: 30px; color: #fff; text-align: center;
}
section>.innerbox{
    width: 1100px; height: 100%;
}
.text{
    position: relative;
}
.text>div>h3{
    font-size: 40px;
}
.text>div>span{
    color: #666; font-size: 24px; display: block;
    position: absolute; right: 0; top: 0;
}
.text>p{
    font-size: 26px;
}
/* 간단한 방법 */
.innerbox{
    overflow-y:scroll; overflow-x: hidden;
}
.innerbox div[class*=goal]{
    width: 1100px; height: 120px;
    margin-bottom: 10px; box-sizing: border-box; padding:10px;
    /* border: 3px solid #fff; */ border-radius:10px;
    padding-left:130px; background-image:url("../images/achievement_example.jpg");
    background-position:top 10px left 10px; background-repeat:no-repeat;
}
.innerbox .bronze{
    background-color:var(--bronze);
    filter:brightness(30%);
}
.innerbox .silver{
    background-color:var(--silver);
    filter:brightness(30%);
}
.innerbox .gold{
    background-color:var(--gold);
    filter:brightness(30%);
}
.innerbox .platinum{
    background-color:var(--platinum);
    filter:brightness(30%);
}
/*
.track{
    position:absolute; width: 26px; height: 640px;
    top: 160px; right: 10px; background: #fff; border-radius:13px;
}
.track>.bar{
    position: absolute; left: 0; top: 0; width: 26px; height: 26px;
    border-radius: 50%; display: block;
    background: #00f;
}
*/
.back{
    position: absolute; right: 10px; top: 10px;
    font-size: 30px; color: #fff; cursor: pointer;
}