@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/morris-roman');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body,html{  width:100%;  height:100%;  }
body,section,h1,button,p,strong{  margin: 0; padding: 0; }
img{  display:block;  }
body{  
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, #7a0000 50%, rgba(0,0,0,1) 100%);
    display: flex; justify-content:center; align-items:center;
    font-family:Arial, sans-serif;
    font-size: 48px; color: #f30;
}
section{
    background:#151515; border:1px solid #151515; width:1200px; height:800px;
    flex-flow:column nowrap; justify-content:center; align-items:center;
    gap:40px;
}
span{
    line-height: 48px; cursor: pointer;
    -webkit-user-select:none;
    user-select:none;
}
.init{
    display:flex;
}
.init>.img{
    width: 544px; height: 416px; position: relative;
}
.init>.img>img{
    width: 100%; height: 100%;
}
.init>.img>h1{
    position: absolute; left: 50%; top: 50%; transform:translate(-50%,-50%);
    font-size: 60px; color: #fff; 
    text-shadow:-2px 0 #090909, 0 2px #090909, 2px 0 #090909, 0 -2px #090909;
    font-family:"Roboto",sans-serif; font-weight: 700;
}
.init>.opt{
    display: flex; gap: 60px;
    margin-bottom: 20px;
}
.init>.opt>.help{
    color: #22f;
}
.init>.etc{
    display: flex; gap: 60px;
}
.init>.etc>.achievement{
    color: #f80;
}
.init>.etc>.clear{
    color: #fc0;
}
.init span{
    text-shadow:-2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}
.howto{
    display: none;
    /* 이 아래는 디자인 참고용 임시 색상 */
    background: #fff; position: relative;
    justify-content: center; overflow: hidden;
    flex-flow:column nowrap;
}
.howto>.explain{
    width: 864px; height: 700px;
    margin-top: 30px; position: relative;
}
.howto>.func{
    display: flex;
    text-align: center; gap: 60px;
    margin-bottom: 10px; line-height: 48px;
}
.howto>.explain>div{
    width: 100%; height: 100%; display: none;
    position: absolute; left: 0; top: 0;
}
.howto>.explain>div.on{
    display: block;
}
.howto>.explain>div>img{
    width: 100%; height: 80%;
}
.howto>.explain>div>p{
    font-size: 26px; color: #090909;
}
.howto>.explain>div>p>.center{
    display:block;
    text-align: center;
}
.howto>.btn{
    position: absolute; top: 50%; transform:translateY(-50%);
    display:block; width: 50px; height: 149px; display: none;
}
.howto>.btn.on{
    display: block;
}
.howto>.prev{
    left: 15px;
}
.howto>.next{
    right: 15px;
}
