@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/morris-roman');
:root{
    --bronze:rgba(184, 115, 51, 1);
    --silver:rgba(192, 192, 192, 1);
    --gold:rgba(255, 215, 0, 1);
    --platinum:rgba(21, 213, 239, 1);
}
@keyframes alarm{
    0%{visibility:visible;}
    25%{visibility:hidden;}
    50%{visibility:visible;}
    75%{visibility:hidden;}
    100%{visibility:hidden;}
}
body,html{  width:100%;  height:100%;  }
body,section,h1,button,h2,p{  margin: 0; padding: 0; }
img{  display:block;  }
button{  border:0;  background:transparent; }
/* index */
body{  
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(122,0,0,1) 50%, rgba(0,0,0,1) 100%);
    display:flex; justify-content:center; align-items:center;
    position: relative; font-family:Arial, sans-serif;
    color: #f30; font-size: 36px;
}
section{
    width:1200px; height:800px; background:#fff; border:1px solid #222;
}
.play{position:relative;}
.play>h2{  
    width:300px;  height:120px;  margin:0px auto 0px;
    font-size: 36px; text-align: center; line-height: 146px;
}
.play>.play_area{
    width:900px; height:540px; margin:70px auto 0;
}
.play>.play_area>.boss{ 
    width:900px; height:540px;
    display:flex; flex-flow:row wrap;
    justify-content:center; align-content:center;
    background:transparent url('../images/Boss.png') no-repeat center top;
}
.play>.play_area>.boss>div{
    width:300px; height:180px;
}
.play>.play_area>.boss>div>.BossAttack{
    width:300px; height:180px;
}
.play>.play_area>.boss>div>.BossAttack>img{
    display:none;
}
.play>.hp{
    width: 500px; height:20px; position: absolute; left: 50%;
    transform:translateX(-50%); bottom: 30px;
    background: #03f; display: inline-block;
}
.play>.hp>.currentHP{
    height:20px; position: absolute; left: 0px; top: 0px;
    background: #f10; display: inline-block;
}
.play>.bossHP{
    width: 1000px; height: 35px; position: absolute; left: 50%;
    transform:translateX(-50%); top:132px; border: 5px solid var(--gold);
    background:#fff;
}
.play>.bossHP>.bossCurrentHP{
    height: 35px; position: absolute; left:0; top: 0;
    display: inline-block; background: #f10;
}
.play>.stun{
    width: 20px; height: 500px; position: absolute; right: 50px;
    top: 60%; transform:translateY(-50%); background: #03f;
}
.play>.stun>.currentStun{
    width: 20px; position: absolute;  left: 0; bottom: 0;
    background-color:var(--gold); display: flex; flex-direction:column-reverse;
}
.play>.stun>span{
    position: absolute; bottom: -50px; right:-32px;
}
.gameover{  
    display:flex; flex-flow:column nowrap;
    background:#151515;
    justify-content:center;
    align-items:center;
    display: none;
}
.gameover>h2{
    margin-bottom: 30px; letter-spacing: 1px;
}
.gameover>img{
    width: 864px; height: 520px; object-fit:cover;
    display: block; margin-bottom: 15px;
}
.gameover>.continue{
    display: flex; gap: 60px; text-align: center;
}
.gameover>.continue>button{
    font-size: 34px; font-family:'The Centurion', Arial, sans-serif;
}
.gameover>.continue>.again{
    color:#22f;
}
.gameover>.continue>.give_up{
    color: #f30;
}
.clear{
    position: absolute;
    display:flex; flex-flow:column nowrap;
    background:rgba(0,0,0,0.5);
    justify-content:center;
    align-items:center;
    display: none;
}
.clear>h2{
    font-size: 100px;
}
.clear>p{
    font-size: 50px; color:var(--gold); margin-top: 60px;
    margin-bottom: 60px;
}
.clear>.select{
    display: flex; color: #fff;
}
.clear>.select>.span{
    display: inline-block;
    font-size: 44px;
}
.alarm{
    position: absolute; right: 0; top: 0; width: 400px; height: 100px;
}
.alarm>.achieve{
    display: flex; width: 400px; height: 100px;
    background-color: #222; position: absolute; right: 0; top: 0;
    display: none;
}
.alarm>.achieve>img{
    display: block; border: 0px none; width: 90px; height: 90px;
    margin-top: 5px; margin-left: 5px;
}
.alarm>.achieve>div{
    margin-left: 20px; margin-top: 15px;
}
.alarm>.bronze{
    background-color:var(--bronze);
}
.alarm>.silver{
    background-color:var(--silver);
}
.alarm>.gold{
    background-color:var(--gold);
}
.alarm>.platinum{
    background-color:var(--platinum);
}
.alarm>.achieve>div>p{
    font-size: 20px; text-align: center; margin-bottom: 20px;
}
.alarm>.achieve>div>span{
    font-size: 18px; text-align: center; display: block;
}
.complete{
    display: none;
}
.attack{
    font-size: 70px; position: absolute; left:50%;
    transform:translateX(-50%); top: 200px; font-weight: bold;
    animation:alarm 0.14s linear infinite; display: none;
}
.axe{
    position:absolute;  left:0px;  top:0px;  z-index:100;  pointer-events:none;
    transition:transform 0.04s;
}
.axe>img{
    width: 150px; height: auto; margin: -150px 0px 0px 60px;
}
.countdown{
    position:fixed; top:0; left:0; display:flex;
    justify-content:center; align-items:center;
    font-size:100px; font-weight:bold; color:#f30;
    background-color:rgba(0,0,0,0.5); width:100%; height:100%;
}
.warning{
    font-size: 200px; font-weight: bold;
}
/* game */